In [1]:
import pandas as pd
import json

df_credits = pd.read_csv('datasets/tmdb_5000_credits.csv')

In [2]:
def extract_json_key(string, key,i):
    '''
    Helper function used to translate string to list of dictionaries, and extract the values
    (Str, Str, int) -> Str
    Preconditions: None
    '''
    clean_list = json.loads(string)
    # print(clean_list)
    #print("index",i)
    #print("length",len(clean_list))
    return clean_list[i][key]

In [3]:
# take the movie id then parse the cast 
# MOVIE ID / NAME / GENDER / ROLE(ACTOR) 

# take the movie id then parse the cast 
# MOVIE ID / NAME / GENDER / ROLE -> job

def loadCast(cast,members):
	'''
    Function used to load data from csv file into dataframes 2 dataframes for crew members and cast members
    (dataFrame) -> dataFrame
    Preconditions: None
    '''
	for i in range (len(df_credits)):
		
		for k in range(5):
			
			if(type(df_credits[members][i])==float):
				break
			if(len(json.loads(df_credits[members][i]))<=k):
				break
			else:
				#create new table row
				new_row = {"movie_id":0,"name":"","gender":"","role":"Actor"}

				new_row["movie_id"] = df_credits["movie_id"][i]
				
				new_row["name"] = extract_json_key(df_credits[members][i], 'name',k)
				
				gender = extract_json_key(df_credits[members][i], 'gender',k)
				
				if( gender == 0 or gender == 1):

					new_row["gender"] = "male"
				else:
					new_row["gender"] = "female"
				if( members == "crew" ):
					new_row["role"] = extract_json_key(df_credits[members][i], 'job',k)

				# add table row to end of dataframe
				cast.loc[len(cast)] = new_row
	cast.drop(0)
	return cast

In [4]:
actors = pd.DataFrame({"movie_id":"","name":"","gender":"","role":""},index=[0])
crew = pd.DataFrame({"movie_id":"","name":"","gender":"","role":""},index=[0])

actors = loadCast(actors,"cast")
crew = loadCast(crew,"crew")

actors
#crew

#actors[actors.isnull().any(axis=1)]

      movie_id              name  gender   role
0
1        19995   Sam Worthington  female  Actor
2        19995       Zoe Saldana    male  Actor
3        19995  Sigourney Weaver    male  Actor
4        19995      Stephen Lang  female  Actor
...        ...               ...     ...    ...
23590    25975    Drew Barrymore    male  Actor
23591    25975  Brian Herzlinger  female  Actor
23592    25975     Corey Feldman  female  Actor
23593    25975      Eric Roberts  female  Actor
23594    25975     Griffin Dunne    male  Actor

[23595 rows x 4 columns]