In [157]:
import pandas as pd
import json

df_credits = pd.read_csv('datasets/tmdb_5000_credits.csv')

In [158]:
def extract_json_key(string, key,i):
    '''
    Helper function used to translate string to list of dictionaries, and extract the values
    (Str, Str, int) -> Str
    Preconditions: None
    '''
    clean_list = json.loads(string)
    # print(clean_list)
    #print("index",i)
    #print("length",len(clean_list))
    return clean_list[i][key]

In [159]:
# take the movie id then parse the cast 
# MOVIE ID / NAME / GENDER / ROLE(ACTOR) 

# take the movie id then parse the cast 
# MOVIE ID / NAME / GENDER / ROLE -> job

def loadCast(cast,members):
	'''
    Function used to load data from csv file into dataframes 2 dataframes for crew members and cast members
    (dataFrame) -> dataFrame
    Preconditions: None
    '''
	for i in range (len(df_credits)):
		
		for k in range(5):
			
			if(type(df_credits[members][i])==float):
				break
			if(len(json.loads(df_credits[members][i]))<=k):
				break
			else:
				#create new table row
				new_row = {"movie_id":0,"name":"","gender":"","role":"Actor"}

				new_row["movie_id"] = df_credits["movie_id"][i]
				
				new_row["name"] = extract_json_key(df_credits[members][i], 'name',k)
				
				gender = extract_json_key(df_credits[members][i], 'gender',k)
				
				if( gender == 0 or gender == 1):

					new_row["gender"] = "male"
				else:
					new_row["gender"] = "female"
				if( members == "crew" ):
					new_row["role"] = extract_json_key(df_credits[members][i], 'job',k)

				# add table row to end of dataframe
				cast.loc[len(cast)] = new_row
	cast.drop(0)
	return cast

In [160]:
actors = pd.DataFrame({"movie_id":"","name":"","gender":"","role":""},index=[0])
crew = pd.DataFrame({"movie_id":"","name":"","gender":"","role":""},index=[0])

actors = loadCast(actors,"cast")
crew = loadCast(crew,"crew")

actors
crew

      movie_id               name  gender                      role
0
1        19995  Stephen E. Rivkin    male                    Editor
2        19995        Rick Carter  female         Production Design
3        19995  Christopher Boyes    male            Sound Designer
4        19995  Christopher Boyes    male  Supervising Sound Editor
...        ...                ...     ...                       ...
21945    25975     Clark Peterson  female        Executive Producer
21946    25975      Andrew Reimer  female        Executive Producer
21947    25975   Brian Herzlinger  female                  Director
21948    25975           Jon Gunn  female                  Director
21949    25975         Brett Winn    male                  Director

[21950 rows x 4 columns]